<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>web_demo_servlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>xyz</servlet-name>
		<servlet-class>com.org.web.DemoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xyz</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>xyz1</servlet-name>
		<servlet-class>com.org.web2.ServletRequest_Response</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xyz1</servlet-name>
		<url-pattern>/check</url-pattern>
		<url-pattern>/display</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>xyz2</servlet-name>
		<servlet-class>com.org.web2.SendRedirectDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xyz2</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	
		
</web-app>